<div class= "container read-index">
  <h1 class= "title">Reading List</h1>

  <%= render '/books/books_table' %>

  <%= link_to new_book_path, method: :get do %>
    <button type="button" class="btn btn-info">New Book</button>
  <% end %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } %>
  <%= flash[:notice] %>
</div>

